.list {
    margin: 0;
    padding: 0;
    display: flex;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.item {
    display: flex;
}

.item div {
    margin-left: 50px;
    width: 200px;
    text-align: left;
}

.item .item_2 {
    margin-right: 50px;
}
