<div class="ui inverted vertical footer segment">
    <div class="ui center aligned container">
        <div class="ui stackable inverted divided grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <a href="#" class="item">成为译者</a>
                </div>
            </div>
            <div class="three wide column">
                <div class="ui inverted link list">
                    <a href="#" class="item">成为作者</a>
                </div>
            </div>
            <div class="three wide column">
                <div class="ui inverted link list">
                    <a href="#" class="item">加入我们</a>
                </div>
            </div>
            <div class="seven wide column">
                <p>2005-2020 © 北京图灵文化发展有限公司 · All Rights Reserved</p>
            </div>
        </div>
    </div>
</div>
