<div class="ui stackable container menu">
    <div class="item active">
        <a href="index.html">
            <i class="home icon"></i>
            主页
        </a>
    </div>
    <div class="item">
        <a href="about.html">关于我</a>
    </div>
    <div class="item">
        <a href="book.html">
            <i class="book icon"></i>
            图书
        </a>
    </div>
    <div class="item">
        <a href="suggestion.html">
            <i class="mail icon"></i>
            意见反馈
        </a>
    </div>
    <div class="item">
        <div class="ui icon input">
            <input type="text" placeholder="搜索..." />
            <i class="search link icon"></i>
        </div>
    </div>
    <div class="item right floated">
        <a class="ui item" href="login.html">登陆</a>
        <a class="ui item" href="register.html">注册</a>
    </div>
</div>
