<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>个人信息页展示</title>
		<link rel="stylesheet" href="{__STATIC__}/index/css/lib/semantic.min.css" />
		<link rel="stylesheet" href="{__STATIC__}/index/css/about.css" />

		<script src="{__STATIC__}/index/js/lib/jquery.js"></script>
		<script src="{__STATIC__}/index/js/lib/semantic.min.js"></script>
		<script src="{__STATIC__}/index/js/lib/typed.js"></script>
		<script src="{__STATIC__}/index/js/about.js"></script>
	</head>
	<body>
		<div class="header">
			<h2>欢迎来到我的个人空间，感谢你的关注：🙏</h2>
			<br /><br />
			<button class="ui button">
				个人项目:......🙏
				<div class="ui modal">
					<div class="header">个人项目连接</div>
					<div class="ui list">
						<div class="item">
							<div class="content">
								<div class="description">
									第一个项目:
									<a href="#"><b>Arrested Development</b></a> just now.
								</div>
							</div>
						</div>
						<div class="item">
							<div class="content">
								<div class="description">
									第二个项目:
									<a href="#"><b>Bob's Burgers</b></a> 10 hours ago.
								</div>
							</div>
						</div>
						<div class="item">
							<div class="content">
								<div class="description">
									第三个项目:
									<a><b>The Godfather Part 2</b></a> yesterday.
								</div>
							</div>
						</div>
						<div class="item">
							<div class="content">
								<div class="description">
									第四个项目:
									<a><b>Twin Peaks</b></a> 3 days ago.
								</div>
							</div>
						</div>
						<div class="item">
							<div class="content">
								<div class="description">
									第五个项目:
									<a><b>Twin Peaks</b></a> 3 days ago.
								</div>
							</div>
						</div>
					</div>
				</div>
			</button>
			<br /><br />
			<div class="console">
				<div class="title-bar">item2</div>
				<div class="main-window">
					<div class="cool-text">
						$
						<span class="animate-text"></span>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
