<div class="layui-header">
	<div class="layui-logo">layui 后台管理系统</div>
	<!-- 头部区域（可配合layui已有的水平导航） -->
	<ul class="layui-nav layui-layout-right">
		<li class="layui-nav-item">
			<a href="javascript:;">
				<img src="http://t.cn/RCzsdCq" class="layui-nav-img" />
				贤心
			</a>
			<dl class="layui-nav-child">
				<dd><a href="">基本资料</a></dd>
				<dd><a href="">安全设置</a></dd>
			</dl>
		</li>
		<li class="layui-nav-item"><a href="">退出</a></li>
	</ul>
</div>

<div class="layui-side layui-bg-black">
	<div class="layui-side-scroll">
		<!-- 左侧导航区域（可配合layui已有的垂直导航） -->
		<ul class="layui-nav layui-nav-tree" lay-filter="test">
			<li class="layui-nav-item layui-nav-itemed">
				<a class="" href="javascript:;">管理员管理</a>
				<dl class="layui-nav-child">
					<dd><a href="manager.html">管理员</a></dd>
				</dl>
			</li>
			<li class="layui-nav-item layui-nav-itemed">
				<a class="" href="javascript:;">商品管理</a>
				<dl class="layui-nav-child">
					<dd><a href="newproduct.html">新品发布</a></dd>
					<dd><a href="inventory.html">库存</a></dd>
				</dl>
			</li>
			<li class="layui-nav-item">
				<a href="javascript:;">用户管理</a>
				<dl class="layui-nav-child">
					<dd><a href="userlist.html">用户列表</a></dd>
					<dd><a href="orders.html">订单</a></dd>
					<dd><a href="suggestion.html">用户意见表</a></dd>
				</dl>
			</li>
			<li class="layui-nav-item">
				<a href="javascript:;">广告位管理</a>
				<dl class="layui-nav-child">
					<dd><a href="ad.html">广告位</a></dd>
				</dl>
			</li>
		</ul>
	</div>
</div>

<div class="layui-footer">
	<!-- 底部固定区域 -->
	© heguohui2018 - 版权归个人所有
</div>
