<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>购物车</title>
        <link rel="stylesheet" href="{__STATIC__}/index/css/lib/semantic.min.css" />

        <!-- 引入自定义样式 -->
        <!-- <link rel="stylesheet" href="{__STATIC__}/index/css/index.css" /> -->

        <script src="{__STATIC__}/index/js/lib/jquery-3.1.1.min.js"></script>
        <script src="{__STATIC__}/index/js/lib/semantic.min.js"></script>

        <!-- <script src="{__STATIC__}/index/js/index.js"></script> -->
    </head>
    <body>
        <div>{include file="public/nav"/}</div>

        <br />

        <div class="ui container">
            <h1 class="header">我的购书袋</h1>
            <table class="ui celled padded table">
                <thead>
                    <tr>
                        <th class="single line">产品图片</th>
                        <th>产品名称</th>
                        <th>产品价格</th>
                        <th>产品数量</th>
                        <th>总价</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <h2 class="ui center aligned header">A</h2>
                        </td>
                        <td class="single line">Power Output</td>
                        <td>
                            <div
                                class="ui star rating"
                                data-rating="3"
                                data-max-rating="3"
                            ></div>
                        </td>
                        <td class="right aligned">
                            80% <br />
                            <a href="table.html#">18 studies</a>
                        </td>
                        <td>
                            Creatine supplementation is the reference compound for
                            increasing muscular creatine levels; there is variability in
                            this increase, however, with some nonresponders.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h2 class="ui center aligned header">A</h2>
                        </td>
                        <td class="single line">Weight</td>
                        <td>
                            <div
                                class="ui star rating"
                                data-rating="3"
                                data-max-rating="3"
                            ></div>
                        </td>
                        <td class="right aligned">
                            100% <br />
                            <a href="table.html#">65 studies</a>
                        </td>
                        <td>
                            Creatine is the reference compound for power improvement, with
                            numbers from one meta-analysis to assess potency
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
