<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>图书商城</title>
		<link rel="stylesheet" href="{__STATIC__}/index/css/lib/semantic.min.css" />
		<script src="{__STATIC__}/index/js/lib/jquery.js"></script>
		<script src="{__STATIC__}/index/js/book.js"></script>
	</head>
	<body>
		<div>{include file="public/nav"}</div>
		<br />

		<div class="ui container">
			<div class="ui two column stackable grid">
				<div class="twelve wide column">
					<div class="ui segment">
						<div class="ui container">
							<h1><i class="book icon"></i>图书</h1>
							<div class="ui divider"></div>
						</div>
						<div class="ui container">
							<div class="ui link four stackable cards">
								<div class="card">
									<div class="image">
										<img
											src="{__STATIC__}/index/img/book/popular_books/elyse.png"
										/>
									</div>
									<div class="content">
										<div class="header">rust 程序设计</div>
										<div class="meta">
											<a>作者</a>
										</div>
										<div class="description">商品简短描述</div>
									</div>
									<div class="extra content">
										<div class="right floated">出版时间：</div>
									</div>
								</div>
								<div class="card">
									<div class="image">
										<img
											src="{__STATIC__}/index/img/book/popular_books/elyse.png"
										/>
									</div>
									<div class="content">
										<div class="header">rust 程序设计</div>
										<div class="meta">
											<a>作者</a>
										</div>
										<div class="description">商品简短描述</div>
									</div>
									<div class="extra content">
										<div class="right floated">出版时间：</div>
									</div>
								</div>
								<div class="card">
									<div class="image">
										<img
											src="{__STATIC__}/index/img/book/popular_books/elyse.png"
										/>
									</div>
									<div class="content">
										<div class="header">rust 程序设计</div>
										<div class="meta">
											<a>作者</a>
										</div>
										<div class="description">商品简短描述</div>
									</div>
									<div class="extra content">
										<div class="right floated">出版时间：</div>
									</div>
								</div>
								<div class="card">
									<div class="image">
										<img
											src="{__STATIC__}/index/img/book/popular_books/elyse.png"
										/>
									</div>
									<div class="content">
										<div class="header">rust 程序设计</div>
										<div class="meta">
											<a>作者</a>
										</div>
										<div class="description">商品简短描述</div>
									</div>
									<div class="extra content">
										<div class="right floated">出版时间：</div>
									</div>
								</div>
								<div class="card">
									<div class="image">
										<img
											src="{__STATIC__}/index/img/book/popular_books/elyse.png"
										/>
									</div>
									<div class="content">
										<div class="header">rust 程序设计</div>
										<div class="meta">
											<a>作者</a>
										</div>
										<div class="description">商品简短描述</div>
									</div>
									<div class="extra content">
										<div class="right floated">出版时间：</div>
									</div>
								</div>
								<div class="card">
									<div class="image">
										<img
											src="{__STATIC__}/index/img/book/popular_books/elyse.png"
										/>
									</div>
									<div class="content">
										<div class="header">rust 程序设计</div>
										<div class="meta">
											<a>作者</a>
										</div>
										<div class="description">商品简短描述</div>
									</div>
									<div class="extra content">
										<div class="right floated">出版时间：</div>
									</div>
								</div>
								<div class="card">
									<div class="image">
										<img
											src="{__STATIC__}/index/img/book/popular_books/elyse.png"
										/>
									</div>
									<div class="content">
										<div class="header">rust 程序设计</div>
										<div class="meta">
											<a>作者</a>
										</div>
										<div class="description">商品简短描述</div>
									</div>
									<div class="extra content">
										<div class="right floated">出版时间：</div>
									</div>
								</div>
								<div class="card">
									<div class="image">
										<img
											src="{__STATIC__}/index/img/book/popular_books/elyse.png"
										/>
									</div>
									<div class="content">
										<div class="header">rust 程序设计</div>
										<div class="meta">
											<a>作者</a>
										</div>
										<div class="description">商品简短描述</div>
									</div>
									<div class="extra content">
										<div class="right floated">出版时间：</div>
									</div>
								</div>
								<div class="card">
									<div class="image">
										<img
											src="{__STATIC__}/index/img/book/popular_books/elyse.png"
										/>
									</div>
									<div class="content">
										<div class="header">rust 程序设计</div>
										<div class="meta">
											<a>作者</a>
										</div>
										<div class="description">商品简短描述</div>
									</div>
									<div class="extra content">
										<div class="right floated">出版时间：</div>
									</div>
								</div>
								<div class="card">
									<div class="image">
										<img
											src="{__STATIC__}/index/img/book/popular_books/elyse.png"
										/>
									</div>
									<div class="content">
										<div class="header">rust 程序设计</div>
										<div class="meta">
											<a>作者</a>
										</div>
										<div class="description">商品简短描述</div>
									</div>
									<div class="extra content">
										<div class="right floated">出版时间：</div>
									</div>
								</div>
								<div class="card">
									<div class="image">
										<img
											src="{__STATIC__}/index/img/book/popular_books/elyse.png"
										/>
									</div>
									<div class="content">
										<div class="header">rust 程序设计</div>
										<div class="meta">
											<a>作者</a>
										</div>
										<div class="description">商品简短描述</div>
									</div>
									<div class="extra content">
										<div class="right floated">出版时间：</div>
									</div>
								</div>
								<div class="card">
									<div class="image">
										<img
											src="{__STATIC__}/index/img/book/popular_books/elyse.png"
										/>
									</div>
									<div class="content">
										<div class="header">rust 程序设计</div>
										<div class="meta">
											<a>作者</a>
										</div>
										<div class="description">商品简短描述</div>
									</div>
									<div class="extra content">
										<div class="right floated">出版时间：</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- <!-1- 分页 -1-> -->
					<div class="ui centered grid page">
						<button class="ui left labeled icon button active">
							向前
							<i class="left chevron icon"></i>
						</button>
						<div class="ui inverted menu pagination">
							<a class="item">1</a>
							<a class="item">2</a>
							<a class="item">3</a>
							<a class="item">4</a>
							<a class="item">5</a>
							<a class="item">6</a>
						</div>
						<button class="ui right labeled icon button">
							后退
							<i class="right chevron icon"></i>
						</button>
					</div>
				</div>
				<div class="four wide column">
					<div class="ui segment">
						<div class="ui container">
							<h1>标签</h1>
							<div class="ui divider"></div>
						</div>
						<div class="ui container">
							<a class="ui red label">javascript</a>
							<a class="ui green label">php</a>
							<a class="ui yellow label">mysql</a>
							<a class="ui blue label">Jquery</a>

							<div class="ui divider"></div>
							<a class="ui red label">开源</a>
							<a class="ui green label">React</a>
							<a class="ui yellow label">生活</a>
							<a class="ui blue label">github</a>

							<div class="ui divider"></div>

							<a class="ui red label"> R语言</a>
							<a class="ui green label">HTTP</a>
							<a class="ui yellow label">C语言</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<br />
		<div class="ui container">{include file="public/footer"}</div>
	</body>
</html>
