<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>主页</title>
		<link rel="stylesheet" href="{__STATIC__}/index/css/lib/semantic.min.css" />

		<!-- 引入自定义样式 -->
		<link rel="stylesheet" href="{__STATIC__}/index/css/index.css" />

		<script src="{__STATIC__}/index/js/lib/jquery.js"></script>
		<script src="{__STATIC__}/index/js/lib/semantic.min.js"></script>

		<script src="{__STATIC__}/index/js/index.js"></script>
	</head>
	<body>
		<div class="ui large inverted vertical sidebar menu">
			<a class="item" href="shop.html">
				<div class="ui small teal label">1</div>
				<i class="shopping cart icon"></i>
				购物车
			</a>
			<a class="item" href="collect.html">
				<div class="ui small teal label">1</div>
				<i class="star icon"></i>
				收藏
			</a>
			<a class="item" href="possess.html">
				<div class="ui small teal label">1</div>
				<i class="book icon"></i>
				拥有的书
			</a>
			<a class="item" href="notify.html">
				<div class="ui small teal label">1</div>
				<i class="bell icon"></i>
				系统通知
			</a>
			<div class="item">
				<div class="ui icon input">
					<input type="text" placeholder="搜索文章..." />
					<i class="search icon"></i>
				</div>
			</div>
		</div>

		<!-- 导航条 -->
		<div>{include file="public/nav"}}</div>

		<!-- 内容卡片 -->
		<div class="ui stackable two column grid container">
			<div class="two wide column">
				<div class="pusher">
					<div class="ui menu centered opensidebar">
						<a class="item">
							<i class="sidebar icon"></i>
							菜单
						</a>
					</div>
				</div>
			</div>
			<div class="fourteen wide column">
				<div class="ui cards centered grid">
					<div class="column card">
						<!-- 文章标签 -->
						<a class="ui red ribbon label">PHP</a>
						<div class="ui content">
							<div class="header">
								第一观察 | 习主席为何要在联合国讲“聚焦行动”“起而行之”
							</div>
							<a class="meta">发布时间:2020-09-24 09:30:30</a>
							<div class="description">
								<p>
									百年变局叠加全球疫情，人类正站在新的十字路口。疑问萦绕在人们心头：未来往何处去？前景会好吗？持续发展的动力在哪？
								</p>
							</div>

							<div class="ui button right floated green preview">
								浏览文章
							</div>
						</div>
					</div>
				</div>
				<div class="ui modal">
					<i class="close icon"></i>
					<div class="header">资料图片</div>
					<div class="image content">
						<div class="ui medium image">
							<!-- <img src="../images/avatar/large/chris.jpg" /> -->
						</div>
						<div class="description">
							<div class="ui header">我们为你自动选择了一张资料图片.</div>
							<p>
								我们从<a href="https://www.gravatar.com" target="_blank"
									>gravatar</a
								>抓取的下面这些图片，图像与你注册的邮箱地址相关.
							</p>
							<p>可以使用这张照片吗?</p>
						</div>
					</div>
				</div>

				<div class="ui cards centered grid">
					<div class="column card">
						<a class="ui red ribbon label">PHP</a>
						<div class="content">
							<div class="header">文章标题</div>
							<a class="meta">发布时间:2020-09-24 09:30:30</a>
							<div class="description">
								<p>
									百年变局叠加全球疫情，人类正站在新的十字路口。疑问萦绕在人们心头：未来往何处去？前景会好吗？持续发展的动力在哪？
								</p>
							</div>
						</div>
					</div>
				</div>

				<div class="ui cards centered grid">
					<div class="column card">
						<a class="ui red ribbon label">PHP</a>
						<div class="content">
							<div class="header">
								第一观察 | 习主席为何要在联合国讲“聚焦行动”“起而行之”
							</div>
							<a class="meta">发布时间:2020-09-24 09:30:30</a>
							<div class="description">
								<p>
									百年变局叠加全球疫情，人类正站在新的十字路口。疑问萦绕在人们心头：未来往何处去？前景会好吗？持续发展的动力在哪？
								</p>
							</div>
						</div>
					</div>
				</div>

				<div class="ui cards centered grid">
					<div class="column card">
						<a class="ui red ribbon label">PHP</a>
						<div class="content">
							<div class="header">
								第一观察 | 习主席为何要在联合国讲“聚焦行动”“起而行之”
							</div>
							<a class="meta">发布时间:2020-09-24 09:30:30</a>
							<div class="description">
								<p>
									百年变局叠加全球疫情，人类正站在新的十字路口。疑问萦绕在人们心头：未来往何处去？前景会好吗？持续发展的动力在哪？
								</p>
							</div>
						</div>
					</div>
				</div>

				<div class="ui cards centered grid">
					<div class="column card">
						<a class="ui red ribbon label">PHP</a>
						<div class="content">
							<div class="header">
								第一观察 | 习主席为何要在联合国讲“聚焦行动”“起而行之”
							</div>
							<a class="meta">发布时间:2020-09-24 09:30:30</a>
							<div class="description">
								<p>
									百年变局叠加全球疫情，人类正站在新的十字路口。疑问萦绕在人们心头：未来往何处去？前景会好吗？持续发展的动力在哪？
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- <!-1- 分页 -1-> -->
		<div class="ui centered grid page">
			<div class="ui inverted menu pagination">
				<a class="item">1</a>
				<a class="item">2</a>
				<a class="item">3</a>
				<a class="item">4</a>
				<a class="item">5</a>
				<a class="item">6</a>
			</div>
		</div>

		<div class="ui divider"></div>

		<br />
		<div class="ui container">{include file="public/footer"}</div>
	</body>
</html>
